.grid7 {
    margin: 0 auto;
    }
    .grid-item7 { width: 30.5%;margin:5px;min-width: 110px; }
    .grid-item--width2 { width: 47.2%; ;margin:5px;}

    image,
    .image-slide{
      overflow: visible;
    }
    .image{
      z-index: 999;
    }