<ion-tabs  mode="ios">
 <div [class]="shared.modal_css" *ngIf="shared.hideBar">


   <ion-tab-bar slot="bottom">
     <ion-tab-button [class]="selectedPhotos"  (click)="photosTab()">
       <ion-icon name="home"></ion-icon>
     </ion-tab-button>
 
     <ion-tab-button  [class]="selectedSearch"  (click)="searchTab()">
       <ion-icon name="search"></ion-icon>
     </ion-tab-button>
 
     <ion-tab-button [class]="selectedProfile" (click)="profileTab()" >
       <!-- <ion-icon name="person"></ion-icon>  -->
       <img [src]="shared.pp" style="border-radius: 30px;width: 30px;height: 30px;border: 2px solid;" [class]="selectedProfile" alt="">
     </ion-tab-button>
   </ion-tab-bar>
  </div>
 </ion-tabs>